@charset "utf-8";

#con2 {
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid var(--w-color);
    border-right: 1px solid var(--w-color);
}

.con2_deco {
    width: 98%;
    border-left: 1px solid var(--w-color);
    border-right: 1px solid var(--w-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 0;
    /* 임시 */
}

.con2_box {
    background: url(../img/bgbg.jpg) center center no-repeat;
    background-size: cover;
    width: 95%;
    border: 1px solid var(--main-font-color);
}

.con2_box.d {
    background: url(../img/bgbg_d.jpg) center center no-repeat;
    background-size: cover;
    color: var(--w-color);
    border: 1px solid var(--w-color);
}

.con2_txtanibox {
    width: 100%;
    height: auto;
    padding: 10px 0px 2px 0px;
    border-bottom: 1px solid var(--main-font-color);
}

.con2_txtanibox.d {
    border-bottom: 1px solid var(--w-color);
}

#con2 .marquee3k div span {
    color: var(--main-font-color);
    font-size: clamp(45px, 8vw, 60px);
    font-family: var(--SB_B);
    display: inline-block;
    margin-right: 0.3vw;
}

#con2 .con2_box.d .marquee3k div span {
    color: var(--w-color);
}

.con2_title {
    padding: 12px clamp(24px, 5vw, 65px) 8px clamp(24px, 5vw, 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-font-color);
    font-family: var(--SB_B);
    font-size: clamp(14px, 3vw, 18px);
    white-space: nowrap;
}

.con2_title.d {
    border-bottom: 1px solid var(--w-color);
}

.con2_vidbox {
    width: 100%;
    height: 200px;
    padding: 10px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-font-color);
}

.con2_vidbox.d {
    border-bottom: 1px solid var(--w-color);
}

.con2_vidbox video {
    height: 95%;
    width: 98%;
}

.con2_tool {
    padding: clamp(8px, 2vh, 12px) clamp(10px, 4vw, 15px);
    display: flex;
    gap: clamp(4px, 1vw, 8px);
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-font-color);
}

.con2_tool.d {
    border-bottom: 1px solid var(--w-color);
}

.con2_tool img {
    width: clamp(32px, 5vw, 40px);
}

.con2_tool .percent {
    font-family: var(--SB_M);
    color: var(--w-color);
    background: var(--main-font-color);
    height: clamp(32px, 5vw, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 2px 4px;
    border-radius: 0px 16px;
    font-size: clamp(13px, 2vw, 16px);
}

.con2_tool .percent.d {
    background: var(--w-color);
    color: var(--main-font-color);
}

.con2_info {
    padding: clamp(13px, 3vw, 15px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--main-font-color);
}

.con2_info.d {
    border-bottom: 1px solid var(--w-color);
}

.info_title {
    display: flex;
    flex-direction: column;
}

.info_title i {
    font-family: var(--SB_M);
    font-size: clamp(21px, 4vw, 23px);
}

.info_title span {
    font-family: var(--NSK);
    font-size: clamp(15px, 3vw, 16px);
    font-weight: 500;
}

.info_txt {
    font-family: var(--NSK);
    font-size: clamp(14px, 3vw, 15px);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: keep-all;
    line-height: 132.9%;
}

.con2_viewbtn {
    display: flex;
    justify-content: center;
    padding: clamp(13px, 3vw, 15px);
}

.con2_viewbtn .team_btn {
    background: var(--main-font-color);
}

.con2_viewbtn .team_btn.d {
    background: var(--w-color);
    color: var(--main-font-color);
}